.header {
  min-height: 74px;
  max-width: 880px;
  margin: 0 auto;
  width: 100%;
  padding: 45px 0 0 0;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width:918px) {
  .header {
    max-width: 918px;
    min-height: 56px;
    margin: 0;
    padding: 28px 0 0 0;
  }
}
